<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film handle</title>
</head>
<body>

<h1>Film Handler</h1>

<p>Welcome <span th:text="${username}"></span></p>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
<br>
<br/>

<a href="/register">Register new user</a>
<br/>
<br/>

<div>
    <a href="/movies/savedfilms">Saved movies</a>
    <br>
    <a href="/movies/search">maybe search for a film ONGOING WORK</a>
    <br>
    <a href="/movies/info">Film info WORK IN PROGRESS</a>
    <br>
    <a href="/movies/searchid">Search film by id WORK IN PROGRESS</a>
    <br>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/admin">Admin page</a>
    </div>

</div>
<h2><span th:text="${username}"></span>movies</h2>

<div>
    <ul>
        <li th:each="film : ${films}">

            <a th:href="@{/films/getfilm/{id}(id=${film.filmid})}"><span th:text="${film.title}">Title</span></a>
        </li>

    </ul>
</div>
</body>
</html>